* {
  font-family: "Nunito";
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bevan";
} */

.title {
  font-family: "Bevan";
}

.email-input,
.submit-button {
  height: 44px;
  min-width: 112px;
}

.email-input:disabled,
.submit-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  filter: grayscale(100%);
}

.container {
  margin: 0 auto;
}

body {
  background: url("/pattern.png") repeat;
}

.hero-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 20px;
  max-width: 600px;
}

@media (min-width: 768px) {
  .hero-content {
    margin-left: 20px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 24px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 3px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 3px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 13px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 22px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(9px, 0);
  }
}

/*
  Table stuff
*/

/* .table-header {
  height: 80px;
} */

.th-head-label {
  line-height: 1.8rem;
}

.floating-link {
  transition: transform 0.1s;
  filter: none;
  cursor: pointer;
}

.floating-link:hover {
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  transform: scale(1.03);
}

.custom-details > summary {
  position: relative;
  padding-left: 1rem;
}

.custom-details > summary::before {
  position: absolute;
  left: 0.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  /* just fun */
  /* transition: transform 3s; */
  content: "▹";
}

.custom-details[open] > summary::before {
  transform: rotate(90deg);
  /* just fun */
  /* transform: rotate(1890deg) translateY(182px) translateX(5px);
  transform-origin: 100px 100px; */
}

.custom-details li:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.placeholder {
  overflow: hidden;
}

.placeholder svg {
  max-width: 100%;
  height: auto;
}

.main-header h1 {
  --tw-border-opacity: 1;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background: #303030;
  padding: 0 1rem;
}
