@font-face {
    font-family: 'Bevan';
    src: url('Bevan-Regular.woff2') format('woff2'),
        url('Bevan-Regular.woff') format('woff'),
        url('Bevan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

